
             	  <a href="https://en.ilmatieteenlaitos.fi/rain-and-cloudiness" class="dropdown-item contact-link" title="rain-and-cloudiness"><i class="fas fa-map-marked-alt"aria-hidden="true"></i> Ilmatieteen laitos</a>
                       	  <a href="http://old.wetterzentrale.de/pics/GFSOP06_60.0000_30.0000_210.png" class="dropdown-item contact-link" title="wetterzentrale"><i class="fas fa-cloud-sun-rain" aria-hidden="true"></i> Wetterzentrale</a>
                              <a href="http://weather.rshu.ru/radar/" class="dropdown-item contact-link" title="ДМРЛ РГГМУ"><i class="fas fa-satellite" aria-hidden="true"></i> ДМРЛ РГГМУ</a>
                              <a href="https://tesis.lebedev.ru/forecast_activity.html" class="dropdown-item contact-link" title="ПРОГНОЗ МАГНИТНЫХ БУРЬ"><i class="fas fa-meteor" aria-hidden="true"></i> Магнитные бури</a>
                 