---
url: courtyard-cleaning
title: Уборка двора, Шаврова-27
excerpt: |
    <p><a href="/courtyard-cleaning"><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/IMG_title.jpg"></a></p>

og_image: https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/IMG_og.jpg
og_title: Уборка двора, Шаврова-27
categories: official
tags: [untolovo]
js: [fresco]

---

{% include telegram-shavrova.html %}


<div class="paper-sheet">

<p class="text-right">В Администрацию Приморского района</p>
<p class="text-right pb-5">21 ноября 2017 года</p>

<p class="text-justify">Добрый день.</p>

<p class="text-justify">После ремонта дорожки (за ремонт огромное спасибо, к слову; было отвратительно, сейчас прекрасно) около 595 школы осталось куча грязи, где работала техника. Сама дорожка чистая, но около — весь асфальт в земле.
Кроме этого во дворе 27-го дома по улице Шаврова тоже грязно. Прикладываю фотографии.</p>

<div class="row mb-3">
    <div class="col-6 text-center">
        <a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/IMG_5604_2.jpg"><img
            src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/IMG_5604_3.jpg" class="img-fluid"></a>
    </div>
    <div class="col-6 text-center">
        <a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/IMG_5605_2.jpg"><img
            src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/IMG_5605_3.jpg" class="img-fluid"></a>
    </div>
</div>

<div class="row mb-3">
    <div class="col-6 text-center">
        <a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/IMG_5606_2.jpg"><img
            src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/IMG_5606_3.jpg" class="img-fluid"></a>
    </div>
    <div class="col-6 text-center">
        <a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/IMG_5603_2.jpg"><img
            src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/IMG_5603_3.jpg" class="img-fluid"></a>
    </div>
</div>

<p class="text-justify">Прошу
<br>(1) Организовать уборку грязи с асфальта около отремонтированной дорожки у школы 595.
<br>(2) Провести немеханизированную уборку (механизированная, как видно из приложенной фотографии не помогает) во дворе 27 дома по улице Шаврова
</p>
<p class="text-justify">ну и заодно
<br>(3) С какой компанией заключён контракт на уборку данной территории?
<br>(4) Как часто в рамках этого контракта должна проводиться уборка?
<br>(5) Есть ли какие-то контактные данные, чтобы в случае грязного двора писать не в Администрацию, а им напрямую. Желательно контакты для письменной корреспонденции.
</p>

<p class="pt-3">Спасибо!</p>
 
<p class="pt-3">Раскумандрин С.И.</p>

</div>

<p>
    Ваше сообщение успешно отправлено.
    Уточнить информацию о ходе рассмотрения вашего обращения вы можете по телефону (812) 576-82-28
</p>


<p>Входящий номер ОБ-2256-2062/17-0-0 от 22 ноября 2017</p>

<h2>19 декабря</h2>


<p><a class="fresco" data-fresco-group="fresco-group-4" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/wrwerewr32324.jpg"><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2017-11-21-courtyard-cleaning/wrwerewr32324.jpg"></a></p>

{% include telegram-shavrova.html %}
