---
url: sandbox
title: Песочница во дворе
excerpt: |
    <p><a href="/sandbox"><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/tiser.jpg"></a></p>

og_image: https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/tiser.jpg
og_title: Песочница во дворе
categories: official
tags: [untolovo]
js: [fresco]

---

{% include telegram-shavrova.html %}


<div class="paper-sheet">

<p class="text-right">в Администрацию Приморского района Санкт-Петербурга</p>
<p class="text-right pb-4">11 мая 2018 года</p>

<p class="text-justify pt-5">Добрый день.</p>

<p class="text-justify">В песочнице на детской площадке во дворе дома по адресу Шаврова-27 много мелкого битого стекла.
    Можно ли старый песок убрать (изнутри и снаружи песочницы) и насыпать нового?
    Если да — когда это будет сделано?</p>

<div class="row mb-3">
    <div class="col-6 text-center">
        <a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/IMG-6337-small.JPG"><img
            src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/IMG-6337-small.th.jpg" class="img-fluid"></a>
    </div>
    <div class="col-6 text-center">
        <a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/IMG-6338-small.JPG"><img
            src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/IMG-6338-small.th.jpg" class="img-fluid"></a>
    </div>
</div>
<p class="text-center"><a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/tiser.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/tiser.jpg" class="img-fluid"></a></p>

<p class="pt-3" style="">Спасибо.</p>

</div>

<p>Ваше обращение зарегистрировано. Регистрационный номер: ОБ-2966-7242/18-0-0.</p>

<p class="text-center"><a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/pesok.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/pesok.jpg" class="img-fluid"></a></p>

<p>Потом долго — больше месяца между прочим — не было никаких вестей, что вообще происходит.</p>
<p>18 июня позвонили из муниципалитета, сказали, что работают с обращением: песок заменить можно, но нужно сначала отремонтировать песочницу; в данный момент организуют ремонт,
    потом завезут песок; до конца июня примерно всё сделают и потом пришлют уже бумагу-ответ.</p>
    
<h2>5 июля 2018</h2>

<p>Песочницу подремонтировали и насыпали нового песка. Убрали ли старый песок — непонятно. Никакого ответа на обращение не пришло.</p>

<p class="text-center"><a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/IMG_6565_2.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2018-06-21-sandbox/IMG_6565_2.jpg" class="img-fluid"></a></p>

{% include telegram-shavrova.html %}
