---
url: deputy
title: Как я попытался стать депутатом Юнтолово
excerpt: |
    <p><a href="/deputy"><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/og.jpg"></a></p>

og_image: https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/og.jpg
og_title: Как я попытался стать депутатом Юнтолово
categories: things
tags: [untolovo]
js: [fresco]

---

<p>В самом начале я, пожалуй, хотел бы сказать спасибо всем — родным, друзьям, соседям, знакомым знакомых, совершенно незнакомым людям, с которыми провели несколько часов в очереди перед дверями избирательной комиссии — всем, кто меня поддерживал, искренне интересовался, сочувствовал, помогал! Спасибо вам!</p>

<p>... и да, прошедшие дни — суббота и воскресенье — были прекрасными выходными, которые навсегда останутся в моём сердце! :)</p>

<h2>Зачем</h2>

<p>Многие спрашивали, зачем тебе это вообще?
<br>Начать надо с того, что вообще делают муниципальные депутаты, и как всё устроено.
<br>Посмотрите, пожалуйста, минут десять:</p>
{% include russia.html %}


<p>Зачем мне? Если что-то можно улучшить вокруг — во дворе, на улице, в городе — я пытаюсь разобраться как это устроено, пишу обращения. <a href="/official">Многие переписки потом публикую</a>. Говорят, что если в подобных обращения в шапке будет «депутат ...», то все шестерёнки начинают крутиться и быстрее, и значительно эффективнее.
<br>Даже несмотря на то, что у муниципального депутата не предусмотрен классический «депутатский запрос».</p>

<h2>Таймлайн</h2>

<h3>Апрель 2019</h3>
{% include russia.html %}


<h3>Май 2019</h3>

<p>Было несколько лекций: общее представление об институте муниципальных депутатов,
    как собрать информацию о своём округе, как подготовиться к выборам, как агитировать,
    юридические детали. Первую лекцию посетил в мае. После каждой лекции приходило домашнее задание.</p>
<p>Вот например алгоритм регистрации кандидатом:</p>
    <div class="paper-sheet">
<a class="fresco" data-fresco-group="unique_namealg" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/alg1.lg.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/alg1.th.jpg" class="img-fluid"></a></div>
    <div class="paper-sheet">
<a class="fresco" data-fresco-group="unique_namealg" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/alg2.lg.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/alg2.th.jpg" class="img-fluid"></a></div>

    
    <p>Много работы происходило именно в процессе выполнения домашки.
Например, <a href="/untolovo-history">история выборов</a> в Юнтолово — она достаточно показательна.</p>

<p>В принципе, на этом этапе стало понятно, что те люди, которые сейчас в муниципалитете приложат колоссальнейшие усилия, чтобы всё осталось как есть, и никакие новые <i>не свои</i> люди к ним не пришли.</p>

<h3>Июнь 2019</h3>

<p>Координация с коллегами, подготовка данных. В конце июня было принято решение о выборах, от которого можно было начинать непосредственно уже процесс регистрации.</p>

<h3>Начало июля 2019</h3>
  
<p>Подготовка пакета документов, сбор справок, выписок.<p> 
    
<h2>12 июля</h2>

<p>Сдал первый пакет документов. Всё заняло минут двадцать. Очереди не было.</p>

<p><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/IMG_4253.th.jpg"></p>

<p>Потом ещё полчаса в банке — открытие избирательного счёта, внесение денег, перевод за печать подписных листов.</p>

<a href="http://www.st-petersburg.vybory.izbirkom.ru/region/region/st-petersburg?action=show&root=1&tvd=4784028289149&vrn=4784028289149&region=78&global=&sub_region=78&prver=0&pronetvd=null&type=341&vibid=4784028292143">Вот моя запись в «ГАС Выборы»</a>.

<h2>13 июля</h2>

<p>С самого утра получил распечатанные подписные листы. Мой подписной лист:</p>

<p><img class="img-fluid img-thumbnail" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/list.jpg"></p>

<p>Требовалось 17 подписей, плюс 4 запасных. Но не больше четырёх запасных.
<br>За полдня объехал знакомых по всему городу, сжёг больше половины бака бензина — друзья с регистрацией в округе по всему городу в этот день, кто где. Подписи можно собирать только
у тех людей, кто постоянно зарегистрирован в границах 691-го округа (фиолетовый на карте):
</p>

<iframe src="https://yandex.ru/map-widget/v1/-/CCs2UCLk" width="720" height="400" frameborder="1" allowfullscreen="true"></iframe>

<p>Примерно треть необходимого количества подписей поставили соседи.</p>

<p>К вечеру было 15 идеальных подписей.</p>


<h2>14 июля</h2>

<h3>11:00</h3>

<p>К этому времени дособирал ещё четыре подписи и пятую свою — сам за себя тоже можешь подписаться, если не являешься членом избирательной комиссии с правом решающего голоса.</p>

<p>20 идеальных подписей.</p>

<p><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/IMG_4275.th.jpg"></p>

<p>Пример неидеальной подписи. Она выходит за рамочку. В результате весь лист будет забракован. Такой подписной лист я не сдавал.</p>

<p><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/notideal.jpg"></p>

<h3>13:00</h3>

<p>Юридический отдел нашёл замечания. «В подписи <...> нужно исправить адрес места жительства. "корп. -" нужно
    вычеркнуть и заверить исправление. В нижней части нужно вычеркнуть "р-н Приморский" и заверить исправление.
    Желательно заверительную надпись написать над вычеркнутым районом»</p>

<h3>16:00</h3>
<p>К этому времени всё исправил, получил одобрение юридического отдела, выписал свежую справку из банка,
    окончательно подготовил все документы второго комплекта.</p>
<p>Приехал в избирательную комиссию. Там очередь.</p>

<p><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/IMG_4286.lg.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/IMG_4286.th.jpg" class="img-fluid"></a></p>


 <p>Столько же людей ещё было за углом.
<br>Мне выдали талончик с номером 30.</p>

<h3>16:30</h3>
<p>Очередь не продвинулась.
<br>Девушка Ксения предложила сфотографировать очередь (в форме «никто ли не против»), но половина людей была против.
<br>Кто-то вызвал полицию по поводу съёмки. Приехал младший лейтенант. В другом крыле побубнили что-то, он уехал.
<br>Член комиссии — Коньков Федор Яковлевич — всех уверил, что работать будут до последнего кандидата в очереди.</p>

<h3>16:40</h3>
<p>Выяснилось, что Ксения пришла в 13:40 (открытие избирательной комиссии в этот день было в 14:00), получила талончик с номером 22. И за два с половиной часа прошли несколько человек всего.
<br>Я сфотографировал тоже очередь.</p>

<p><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/IMG_4287.lg.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/IMG_4287.th.jpg" class="img-fluid"></a></p>

    <p><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/IMG_4288.th.jpg"></p>

<p>На второй фотографии — заместитель главы Юнтолово. Мы уже общались пару месяцев назад <a href="/winter-courtyard-cleaning">про уборку моего двора</a>.
<br>— О, добрый день, вы тоже документы сдаёте?
<br>— Нет, я по другому вопросу.</p>

<p>Чуть позднее выяснилось, что он уже является зарегистрированным кандидатом. Что он делал в очереди и по какому вопросу — непонятно.
<br>Ещё в очереди была глава местной администрации.
<br>Ещё кто-то узнал другого сотрудника местной администрации. Бухгалтера, кажется.</p>

<p>Когда несколько человек ещё раз сфотографировали, пара человек из очереди ушли.
<br>Далее в процессе диалога стало более или менее понятно, что половину очереди волнует, что процесс искусственно затягивается, а половину — нет.
<br>Очередь ещё проредилась.
<br>Ксения позвонила в полицию (первый звонок был из одной половины очереди, этот — из
другой половины). Приехал тот же младший лейтенант. Нехотя принял заявление (нарушение пассивного избирательного права,
искусственное затягивание приёма документов, фиктивная очередь).</p>

<p>Очередь начала медленно двигаться.</p>

<h3>18:01</h3>
<p>Время, после которого сдавать документы бесполезно. Это автоматический отказ в регистрации по причине
поздно сданных документов.
Ровно в это время запустили Ксению, которая пришла в 13:40, ещё до открытия комиссии.</p>

<h3>18:50</h3>
<p>Вышла глава комиссии, сказала, что ни у кого документы больше принимать не будут. Всё равно будет отказ
<br>Оставалось человека четыре.
<br>Мы попросили принять документы. Собираясь потом оспорить отказ из-за искусственно затягиваемого времени.
<br>Документы продолжили принимать.</p>

<h3>19:13</h3>
<p>Очень трогательно :)</p>
    <p><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/IMG_4315.jpg"></p>


<h3>19:30</h3>
<p>Я зашёл сдавать документы.
<br>Не прочиталась флешка. В итоге весь пакет не приняли.</p>

<h2>Итог на вечер 14 июля</h2>

<p>На этом мой квест окончился.
<br>Дома кстати флешка прочиталась.
<br>Вообще можно подать жалобу и попытаться пройти-таки этап с подачей второго комплекта документов. Но на подписях всё равно квест закончится.
<br>Подписи выбраковывают (без экспертизы, потому что «кажется, что дату и подпись ставили разные люди»).
<br>В процессе диалога в очереди сказали, что надо идти от партии, чтобы не было возможности
выбраковывать подписи.
<br>Надеяться не стоит и на то, что потом обратиться в суд и привести туда человека, поставившего подпись.
При этом процессуальный статус его будет — свидетель, и его показания с большой вероятностью не примут, как
показания заинтересованного лица.
<br>Партийные документы (которые не от Единой России) кстати тоже выбраковываются.</p>

<p>Пару раз задавали вопрос:</p>
<p>— Почему же раньше не пришёл, комиссия же работала 20 дней!?</p>
<p>— Во первых не с первого дня стали доступны все формы документов и решения. Если первый раз, то требуется время, чтобы со всем разобраться. Тяжело заранее спланировать всё гармонично. Кроме выходных комиссия работает в будни как раз в рабочее время — нет возможности уйти с работы. Чтобы сдать идеальные документы требуется прекратить
    основную работу и полностью на это время посвятить время подготовке избирательных документов.
    </p>

<p>При этом гарантий нет. Ниже история человека, который сдал всё вовремя.</p>

<h2>15 июля</h2>

<p>На вечер 14 июля было назначено заседание комиссии по вопросу регистрации в качестве кандидата
    ещё одного человека «от» spb.vote.</p>

<p class="row"><div class="alert alert-info col-10 offset-2" role="alert">
как дела? какой результат рассмотрения?
</div></p>
    
<p class="row"><div class="alert alert-warning col-10" role="alert">
из 20 подписей якобы 4 недействительные, отказ
</div></p>

<p class="row"><div class="alert alert-info col-10 offset-2" role="alert">
а у тебя эти четыре подписи забраковали из-за чего именно?
</div></p>

<p class="row"><div class="alert alert-warning col-10" role="alert">
члены икмо ходили по квартирам подписантов и заставляли подписывать бумажки о том, что те не ставили за меня подпись. или подсовывали им вот такие бумажки
<p><a class="fresco" data-fresco-group="unique_name2" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/spr.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/spr.th.jpg" class="img-fluid"></a></p>

Кто-то из подписантов замечал подвох, а кто-то без очков нет.
</div></p>


<p>Вероятно, чтобы этого избежать, нужно каждую подпись делать в присутствии нотариуса. Но это ж сколько ресурсов требуется. И то, скорее всего
    потом уже с этими документами оспаривать первичный отказ в регистрации.</p>
    
<h2>16 июля</h2>



<div class="paper-sheet">

<p class="text-right">В Санкт-Петербургскую избирательную комиссию</p>
<p class="text-right pb-5">16 июля 2019 года</p>

<p class="text-justify">Добрый день.</p>

<p class="text-justify">Я, Раскумандрин Станислав Игоревич, пытался подать второй комплект документов
    в избирательную комиссию МСМО Юнтолово</p>

<p class="text-justify">По состоянию на 13:55 13 июля 2019 года (суббота, предпоследний день приёма документов) избирательная комиссия МСМО Юнтолово
    прекратила свою работу и приём документов кандидатов не вела в нарушение решения
    Санкт-Петербургской городской избирательной комиссии от 22 июня 2019 года норме 103-14.</p>

<p class="text-justify">14 июля 2019 года (воскресенье, последний день приёма документов)
избирательная комиссия МСМО Юнтолово начала свою работу и приём документов с 14:00. В очереди находилось порядка
тридцати кандидатов. За период работы с 14 до 18 часов комиссия приняла только 15 человек. Пиём кандидатов осуществлял
один (!) член комиссии. Второй член комиссии только выдавал талончики с номером очереди.</p>

<p class="text-justify">До 18:00 14 июля 2019 года не смогли подать документы семь человек.
    Указанные выше обстоятельства подтверждены соответствующими актами. Выглядит всё так, что избирательная комиссия МСМО Юнтолово умышленно затягивала процесс работы, чтобы не все кандидаты могли подать документы.
    Кроме того избирательная комиссия МСМО Юнтолово нарушила решение Санкт-Петербургской городской избирательной комиссии в части графика работы.</p>

<p class="text-justify">В 18:50 14 июля 2019 года глава комиссии сказала что принимать документы больше не будет, так как
    кандидатами никого из оставшихся не зарегистрируют из-за нарушения сроков подачи документов.
    После настойчивых просьб продолжить приём документы, приём документов продолжили. В 19:30 14 июля 2019 года
    начали приём второго комплекта документов у меня. При попытке прочитать флешку с копиями сдаваемых
документов, она не прочиталась на компьютере избирательной комиссии. Это послужило отказом принять
весь второй комплект документов. Устно сотрудник комиссии сказала, что «нам дали такой компьютер, который не жалко, если заразится вдруг вирусом». При этом флешка корректно читалась как до сдачи документов, так и после сдачи на всех другик компьютерах, где я пробовал.</p>

<p>Учитывая изложенное прошу:</p>

<p>1. Рассмотреть настоящую жалобу по существу и провести проверку по указанным обстоятельтвам</p>
<p>2. Восстановаить мои нарушенные избирательные права и обязать избирательную комиссию МСМО Юнтолово
    принять мои документы и зарегистировать в качестве кандидата</p>
<p>3. В случае выявления фактов нарушения действующего законодательства по итогам проверки
    ходатойствовать о привлечении виновных лиц к установленной законом ответственности.</p>


<p class="text-justify">Спасибо.</p>
<br>

</div>


<p><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/act-11.lg.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/act-11.th.jpg" class="img-fluid"></a></p>

<p><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/act-12.lg.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/act-12.th.jpg" class="img-fluid"></a></p>

<p><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/act-21.lg.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/act-21.th.jpg" class="img-fluid"></a></p>

<p><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/act-22.lg.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/act-22.th.jpg" class="img-fluid"></a></p>

<p><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/act-31.lg.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/act-31.th.jpg" class="img-fluid"></a></p>

<h2>24 июля</h2>

<p><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/IMG_4397.jpg"></p>

<h2>25 июля</h2>

    <p>
<a class="fresco" data-fresco-group="unique_name2" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/Scan.lg.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/Scan.th.jpg" class="img-fluid"></a></p>

<h2>26 июля</h2>

    <div class="paper-sheet">
<a class="fresco" data-fresco-group="unique_name2" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/img1.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/img1.th.jpg" class="img-fluid"></a></div>

    <div class="paper-sheet">
<a class="fresco" data-fresco-group="unique_name2" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/img2.jpg"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-07-15-deputy/img2.th.jpg" class="img-fluid"></a></div>

<h2>2 октября</h2>

<p>В чатик прислали следующую информацию.</p>


<h3 class="text-danger">ИТОГОВЫЙ ФИНАНСОВЫЙ ОТЧЕТ</h3>

<p>Уважаемые депутаты, мы поздравляем вас с победой и желаем продуктивной
работы в новом статусе. Дорогие, кандидаты, если у вас украли победу, мы боремся за
вас в суде. А пока, для всех вас и тех, кто был зарегистрирован и принимал участие в
выборах, ниже краткая инструкция о шагах, которые необходимо сделать прямо сейчас.
Следуйте по очереди за каждым шагом и отмечайте статус в столбце «результат», это
гарантирует вам правильное выполнение этой непростой бюрократической процедуры.</p>
<p>Всем кандидатам необходимо подготовить итоговый финансовый отчет и сдать его
в ИКМО не позднее чем через 30 дней со дня официального опубликования результатов
выборов (результаты публикуются в СМИ например, в муниципальной газете). Если это
не сделать вовремя, то вам начислят <span class="text-danger">штраф 20-25 тысяч рублей</span>.</p>

<h3>Шаги подготовки отчета</h3>

<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">ШАГ</th>
      <th scope="col">ЧТО СДЕЛАТЬ?</th>
      <th scope="col">РЕЗУЛЬТАТ</th>
    </tr>
  </thead>
  <tbody>

<tr>
  <td>1<br>идём в ИКМО</td>
  <td>
      Получить в вашей избирательной комиссии точный
      перечень документов, которые прилагаются к отчету
      (так как такой перечень определяет ИКМО, обычно
      туда входят: форма финансового отчёта, форма учёта
      поступлений и расходования средств, форма описи
      всех документов и перечень всех дополнительных
      документов).
  </td>
  <td></td>
</tr>


<tr>
  <td>2<br>идём в банк</td>
  <td>
      1. Если у вас остались деньги на счету, их надо
      перевести назад отправителю пропорционально
      вложенным/внесенным деньгам. Пример расчёта
      представлен ниже. Реквизиты отправителей вам
      предоставят в банке, там же вы и будете совершать
      переводы.
      <br>2. В банке надо взять выписку о движении денежных
      средств со дня открытия до дня закрытия счета, все
      платежные поручения, все расходно-кассовые ордера,
      все распоряжения, справку об оставшихся средствах.
      <br>3. Закрыть счет, взять справку о закрытии счета
  </td>
  <td></td>
</tr>


<tr>
  <td>3<br>у себя в столе</td>
  <td>
      Собрать все первичные финансовые документы (это
      может быть договор, счет, акт, товарная накладная,
      счет-фактура и т. д.).
      
  </td>
  <td></td>
</tr>


<tr>
  <td>4<br>у себя на
компьютере и
на столе</td>
  <td>Заполнить «Финансовый отчет» в бумажном и
машиночитаемом (электронном) виде. Форму отчета
вам выдает ваша избирательная комиссия (см. шаг 1).
Обычно, она такая же, как первый финансовый отчет,
только в шапке документа меняется название.

  </td>
  <td></td>
</tr>


<tr>
  <td>5<br>у себя на
компьютере и
на столе</td>
  <td>Заполнить «Учет поступления и расходования
денежных средств избирательного фонда» в бумажном
и машиночитаемом (электронном) виде. Форму учета
вам выдает ваша избирательная комиссия (см. шаг 1),
но её может и не быть (в законе не прописано), зависит
от ИКМО.
  </td>
  <td></td>
</tr>






<tr>
  <td>6<br>оформляем
документы</td>
  <td>Все первичные документы (шаг 3) и банковские
документы (шаг 2.2 и шаг 2.3) необходимо сложить в
хронологическом порядке.
  </td>
  <td></td>
</tr>






<tr>
  <td>7<br>оформляем
документы</td>
  <td>Заполнить опись всех документов в 2 экземплярах.
Форма описи выдается в вашей избирательной
комиссии.

  </td>
  <td></td>
</tr>





<tr>
  <td>8<br>оформляем
документы</td>
  <td>Итоговый финансовый отчет и приложения (документы
из шага 4 и 5) сшиваются и нумеруются.
К нему прикладывается 1 экземпляр описи документов.
  </td>
  <td></td>
</tr>






<tr>
  <td>9<br>идём ИКМО</td>
  <td>Подать финансовый отчет и документы в ИКМО.
На втором экземпляре описи поставить отметку о
принятии.
  </td>
  <td></td>
</tr>






</tbody></table>

<p>NB: ДЕНЬГИ, ОСТАВШИЕСЯ НА СЧЕТУ, МОЖНО НИКУДА НЕ ПЕРЕВОДИТЬ И ОСТАВИТЬ НА
СЧЕТУ, ТАКЖЕ СЧЕТ МОЖНО НЕ ЗАКРЫВАТЬ. В ЭТОМ СЛУЧАЕ, БАНК ЧЕРЕЗ 60 ДНЕЙ
САМ ЗАКРОЕТ СЧЕТ И ПЕРЕВЕДЕТ ОСТАВШИЕСЯ ДЕНЬГИ В БЮДЖЕТ.</p>

<p>Пример расчёта пропорции из шага 2.1:</p>
<p>Дано: человек 1 внес 100 р., человек 2 внес 200 р., человек 3 внес 50 р. Итого внесено:
350 р.<br>
Из всех внесенных средств на счету осталось 30 р.</p>

<p>Решение:</p>

<p>100 р. – х
<br>200 р. – y
<br>50 р. – z</p>

<p>1) 350 – 100%
<br>Х=100х100/350=28,57%
<br>Y=200х100/350=57,14%
<br>Z=50х100/350=14,28%</p>

<p>2) 30 – 100%
<br>Х=28,57х30/100=8,60
<br>Y=57,14х30/100=17,14
<br>Z=14,28х30/100=4,30<p>

<p>Результат: человеку 1 надо отправить 8,60 р., человеку 2 – 17,14 р., человеку 3 – 4,30</p>

<hr>
<p>Сходил в банк, получил выписки, закрыл счёт. Для закрытия счёта вообще требуется разрешения ИКМО, но в моём
    случае ИКМО заранее разослала в банк разрешения. Далее все документы отсканировал, собрал, составил отёт, подшил,
    снёс в ИКМО. Там приняли и выдали расписку. Очереди не было, но это ещё и не последние дни сдачи документов были.</p>