---
url: courtyard-pits
title: Ямы во дворе, Шаврова-27
excerpt: |
    <p><a href="/courtyard-pits"><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/tiser.jpg"></a></p>

og_image: https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/og.jpg
og_title: Ямы во дворе, Шаврова-27
categories: official
tags: [gibdd,mvd,untolovo]
js: [fresco]

---

{% include telegram-shavrova.html %}

<div class="paper-sheet">

<p class="text-right">В муниципальное образование Юнтолово</p>
<p class="text-right pb-5">5 апреля 2019 года</p>

<p class="text-justify">Добрый день.</p>


<p class="text-justify">Осенью 2017 года обращался про ямы во дворе по адресу Шаврова-27.
    Переписка тут: <a href="https://raskumandrin.github.io/rosyama">https://raskumandrin.github.io/rosyama</a>.
    Ямы, про которые писал, осенью 2017 почилини. А весной 2018 был свидетелем ремонта всех остальных
    дефектов асфальта во дворе. Очень качественного ремонта! Швы заплаток заливали битумом.
За весь 2018 год не появилось ни одной новой ямы!    
Спасибо за эту работу!</p>

<p class="text-justify">Сейчас, когда сошёл снег, видно, что появились на асфальте новые дефекты.</p>
    
    

    <div class="row mb-3">
        <div class="col-6 text-center">
            <a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_2647.lg.jpg"><img
                src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_2647.th.jpg" class="img-fluid"></a>
        </div>
        <div class="col-6 text-center">
            <a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_2648.lg.jpg"><img
                src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_2648.th.jpg" class="img-fluid"></a>
        </div>
    </div>
    
<p class="text-justify">Пожалуйста, проведите такой же качетвенный ремонт этой весной, как это было сделано прошлой.</p>

<p class="text-justify">Спасибо.</p>
<br><br><br><br>

</div>

<p>Входящий номер вашего обращения 01-09/26а от 11.04.2019г.</p>

<h2>18 апреля</h2>

<div class="paper-sheet">
    <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/resp1.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/resp1.jpg" class="img-fluid"></a>
</div>
<h2>25 мая</h2>

<p><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_3396.JPG"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_3396.th.JPG" class="img-fluid"></a></p>

<h2>30 мая</h2>

<p><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_3461.JPG"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_3461.th.JPG" class="img-fluid"></a></p>
<h2>1 июня</h2>

<p><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_3552.JPG"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_3552.th.JPG" class="img-fluid"></a></p>
<h2>26 июня</h2>

<p><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_4088.JPG"><img
  src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-04-05-courtyard-pits/IMG_4088.th.JPG" class="img-fluid"></a></p>
<h2>27 июня</h2>
<p>Скорее всего, речь идёт вот об этом контракте, но соответствующих документов я там пока не нашёл, возможно появятся позже.</p>
<p><a href="http://zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=3781433390019000004">http://zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=3781433390019000004</a></p>


{% include telegram-shavrova.html %}

