---
url: winter-courtyard-cleaning
title: Зимняя уборка двора, Шаврова-27
excerpt: |
    <p><a href="/winter-courtyard-cleaning"><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/school.tiser.JPG"></a></p>

og_image: https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/school.og.JPG
og_title: Зимняя уборка двора, Шаврова-27
categories: official
tags: [untolovo]
js: [fresco,plyr,instagram]

---

{% include telegram-shavrova.html %}

<div class="paper-sheet">

<p class="text-right">В Администрацию Приморского района</p>
<p class="text-right pb-5">5 февраля 2019 года</p>

<p class="text-justify">Добрый день.

<p class="text-justify">Не убран снег во дворе дома 27 по улице Шаврова.
<br>Я <a href="/courtyard-cleaning">уже обращался</a> по поводу некачественной &mdash; тогда ещё летней &mdash; уборки моего двора.
<br>Ответ от Администрации был, что «всё хорошо».</p>

<p class="text-justify">В приложенном документе фотографии
<br>- сугробов и колеи в проезде во дворе;
<br>- глубокого рыхлого снега в проходе между школой и домом;
<br>- снежного отвала размером с ребёнка на пути на детскую площадку внутри двора;
<br>- сгребания снега в отвал трактором без последующей уборки (на примере соседнего двора);
<br>- двора перед Администрацией района для сравнения.</p>

<p class="text-justify">Видно, что снег грязный, ни о каком соблюдении регламента «Сдвигание свежевыпавшего снега и очистка территории от снега и льда при наличии колейности свыше 5 см» «через 2 часа во время снегопада», конечно, речь тут не идёт.</p>

<p class="text-justify">Тезис господина Беглова, что виноваты автомобилисты, загораживающие путь трактору, абсолютно несостоятелен. Объективно автомобили в городе есть и это исходные данные для организации дальнейшего процесса уборки. К тому же, около Администрации тоже есть автомобили, но там двор до асфальта вычищен.</p>

<p class="text-justify">Прошу
<br>1. Организовать уборку двора дома 27 по улице Шаврова.
<br>2. Разъяснить, какими именно документами (контрактами?) регулируются договорные отношения на уборку квартала 23А? Если есть контракт (гос-закупка?) &mdash; напишите, где можно ознакомиться с ним.
<br>3. Какие есть возможности, в случае если организация не справляется с уборкой (кроме «терпеть»)?
<br>4. Какие есть механизмы отчётности по уборке перед жителями? Не фотографии на сайте, а документы. Есть ли акты о выполненных работах? где их можно увидеть?</p>


<p class="text-justify">Спасибо.</p>

<p class="pt-3">Раскумандрин С.И.</p>

</div>

<p>(1) Сугробы и колея в проезде во дворе дома 27 на улице Шаврова</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="Сугробы и колея в проезде во дворе дома 27 на улице Шаврова" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/snow1.JPG"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/snow1.JPG" class="img-fluid"></a></p>
<p>(2) Сугробы и колея в проезде во дворе дома 27 на улице Шаврова</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="Сугробы и колея в проезде во дворе дома 27 на улице Шаврова" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/snow2.JPG"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/snow2.JPG" class="img-fluid"></a></p>
<p>(3) Глубокий рыхлый снег в проходе между школой 595 и домом 27 на улице Шаврова</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="Глубокий рыхлый снег в проходе между школой 595 и домом 27 на улице Шаврова" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/school.JPG"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/school.JPG" class="img-fluid"></a></p>
<p>(4) Снежный отвал размером с ребёнка на пути на детскую площадку внтури двора дома 27 на
улице Шаврова</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="Снежный отвал размером с ребёнка на пути на детскую площадку внтури двора дома 27 на
улице Шаврова" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/kid.JPG"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/kid.JPG" class="img-fluid"></a></p>
<p>(5) Сгребание снега в отвал трактором без последующей уборки</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="Сгребание снега в отвал трактором без последующей уборки" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/track.JPG"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/track.JPG" class="img-fluid"></a></p>
<p>(6) Двор перед Администрацией Приморского района Санкт-Петербурга</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="Двор перед Администрацией Приморского района Санкт-Петербурга" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/adm1.JPG"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/adm1.JPG" class="img-fluid"></a></p>
<p>(7) Двор перед Администрацией Приморского района Санкт-Петербурга</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="Двор перед Администрацией Приморского района Санкт-Петербурга" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/adm2.JPG"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/adm2.JPG" class="img-fluid"></a></p>


<p>Ваше обращение зарегистрировано. Регистрационный номер: ОБ-959-15304/19-0-0.</p>

<h2>26 февраля</h2>

<p>Ваше обращение рассмотрено, Вам направлен ответ. Исходящий номер: ОБ-959-15304/19-0-1 от 26.02.2019.</p>

<div class="paper-sheet">
    <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/response2.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/response2.jpg" class="img-fluid"></a>
</div>


<div class="paper-sheet">

<p class="text-right">В Администрацию Губернатора Санкт-Петербурга</p>
<p class="text-right pb-5">26 февраля 2019 года</p>

<p class="text-justify">Добрый день.</p>

<p class="text-justify">5 февраля обращался в Администрацию Приморского района про отсутствие уборки во дворе (ОБ-959-15304/19-0-0).
Среди прочего я интересовался формальной стороной уборки: какая есть отчётность, какие договорные отношения
с организацией, осуществляющей уборку.</p>

<p class="text-justify">Сегодня я получил отписку от Администрации Приморского района (ОБ-959-15304/19-0-1), где мне рассказывают про
снегопады и приемлемый уровень уборки, а все вопросы про формальную организацию процесса проигнорированы.</p>

<p class="text-justify">Я считаю это неприемлемым.
На следующий год тоже, возможно, будут снегопады.
Хотелось бы, чтоб работа Администрации была прозрачной, а не как сейчас; что позволило бы жителям влиять на ситуацию.</p>

<p class="text-justify">Прикладываю фотографии того, как выглядит двор сегодня, 26 февраля. Спасибо весенней погоде — снег растаял. Во дворе огромное количество
песка, который не подметается (как должно быть в соответствии с Технологическим регламентом). Льда, заметьте, на проезжей части нет.
Всё это несётся в квартиры, и нисколько не способствует здоровью.</p>

<p class="text-justify">Прошу у Администрации города:
<br>(1) Организовать уборку двора по адресу Шаврова-27; той части двора, которая входит в зону ответственности ЖКС №4.</p>

<p class="text-justify">Сформировать ответ на проигнорированные господином Акацевичем вопросы из исходного обращения:
<br>(2) Разъяснить, какими именно документами (контрактами?) регулируются договорные отношения на уборку квартала 23А? Если есть контракт (гос-закупка?) &mdash; напишите, где можно ознакомиться с ним.
<br>(3) Какие есть возможности, в случае если организация не справляется с уборкой (кроме «терпеть»)?
<br>(4) Какие есть механизмы отчётности по уборке перед жителями? Не фотографии на сайте, а документы.
Есть ли акты о выполненных работах? где их можно увидеть?</p>


<p class="text-justify">Спасибо.</p>

<p class="pt-3">Раскумандрин С.И.</p>

</div>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_1935.big.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_1935.th.jpg" class="img-fluid"></a></p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name1" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_1936.big.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_1936.th.jpg" class="img-fluid"></a></p>

<p>Ваше обращение зарегистрировано. Регистрационный номер: ОБ-8458-1/19-0-0.</p>

<h2>И ещё переписка по теме</h2>

<p class="row">
    <div class="alert alert-warning col-10" role="alert">
Прочитала я твою переписку, все по делу, но замечу, что содержание, а в том числе и уборка придомовой территории входит в обязанности управляющей компании (в твоем случае ЖСК), для чего заключается договор на санитарное обслуживание (уборка лестниц и придомовой территории). У твоего ЖСК заключен с ООО "Жилкомсервис №4" Приморского района. В своих квитанциях ты видишь строку про уборку, т.е. каждый месяц ты добросовестно оплачиваешь услугу. Но! В данном случае эта услуга оказана не в полном объеме, таким образом, на лицо нарушение договорных отношений. Таким образом, можно предъявлять претензии в Правлении ЖСК с приложением этих фото с заявлением о проведении перерасчета - услуга не оказана в полном объеме и не в надлежащем качестве. Кроме этого, можно и в Жилкомсервис написать)
    </div>
</p>

<p class="row">
    <div class="alert alert-warning col-10" role="alert">
      Забыла: еще можно писать в ГУЖА Приморского района, Жилищную инспекцию и Роспотребнадзор- на практике снег убирается именно после таких жалоб.
    </div>
</p>

<p class="row">
    <div class="alert alert-info col-10 offset-2" role="alert">
    Тут вопрос не то чтоб только про снег — летом тоже так себе убирают
    </div>
</p>

<p class="row">
    <div class="alert alert-info col-10 offset-2" role="alert">
    И наш Председатель говорила, что тротуар - наш (и он исправно убирается), а дворовый проезд за поребриклм тротуара - уже не наш.
    </div>
</p>


<p class="row">
    <div class="alert alert-warning col-10" role="alert">
      Вот о чем и речь - там, где Жилкомсервис может оствться без части положенных ему денег (придомовая территория) - убирается хорошо. А проезды, уборка  которых относится к ведению ГУЖА (районное жилищное агентство, оно непосредственно контролирует уборку - и зимой, и летом - убираются плохо, потому что ничьи)
      <br>Пиши тоже самое в ГУЖА, спроси где можно ознакомится с контрактом на уборку вашего квартала.
    </div>
</p>

<p class="row">
    <div class="alert alert-warning col-10" role="alert">
      А есть еще заместитель губернатора, курирующий область ЖКХ  Бондаренко Н.Л. Туда тоже можно писать, минуя районную администрацию - раз они дают отписки и не отвечают на поставленные вопросы.
    </div>
</p>
{% include russia.html %}


<h2>Улица Мартыновская, 5 февраля 2019, для истории</h2>

<p><video
poster="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_1596.jpg"
class="plyr-player"
playsinline controls>
<source
src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_1596.m4v"
type="video/mp4" />
</video></p>

<p><video
poster="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_1597.jpg"
class="plyr-player"
playsinline controls>
<source
src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_1597.m4v"
type="video/mp4" />
</video></p>


<h2>5 марта</h2>

<p>Ваше обращение направлено по компетенции. Исполнитель: Администрация Приморского района Санкт-Петербурга, ОБ-8458-1/19-0-1 от 05.03.2019.</p>

<div class="paper-sheet">
    <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/8458-1-re.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/8458-1-re.jpg" class="img-fluid"></a>
</div>

<h2>В течение марта 2019 пофотографировал двор</h2>

<p>5 марта. Большой отвал неубранного снега.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="5 марта. Большой отвал неубранного снега." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-05-1.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-05-1.th.jpg" class="img-fluid"></a></p>

<p>11 марта. Снег подтаял, колея с лужами.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="11 марта. Снег подтаял, колея с лужами." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-11-1.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-11-1.th.jpg" class="img-fluid"></a></p>

<p>11 марта. Неубранная куча снега, оставшаяся с зимы, на дороге.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="11 марта. Неубранная куча снега, оставшаяся с зимы, на дороге." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-11-2.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-11-2.th.jpg" class="img-fluid"></a></p>

<p>14 марта. Та же куча снега, вид с другой стороны.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="14 марта. Та же куча снега, вид с другой стороны." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-14-1.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-14-1.th.jpg" class="img-fluid"></a></p>

<p>16 марта. Колея с лужами.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="16 марта. Колея с лужами." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-16-1.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-16-1.th.jpg" class="img-fluid"></a></p>

<p>17 марта. Ещё одна неубранная куча снега, оставшаяся с зимы. Вся дорога в песке, льда нет.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="17 марта. Ещё одна неубранная куча снега, оставшаяся с зимы. Вся дорога в песке, льда нет." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-17-1.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-17-1.th.jpg" class="img-fluid"></a></p>

<p>18 марта. Неубранный мусор около помойки.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="18 марта. Неубранный мусор около помойки." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-18-1.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-18-1.th.jpg" class="img-fluid"></a></p>

<p>22 марта. Неубранный ещё с осени мусор.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="22 марта. Неубранный ещё с осени мусор." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-22-1.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-22-1.th.jpg" class="img-fluid"></a></p>

<p>23 марта. Весь двор в песке, асфальт сухой. Дотаивающая с зимы куча снега.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="23 марта. Весь двор в песке, асфальт сухой. Дотаивающая с зимы куча снега." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-23-1.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-23-1.th.jpg" class="img-fluid"></a></p>

<p>27 марта. Страшный гололёд после снега с дождём накануне; весь песок с предыдущих фотографий оказался подо льдом, сверху ничего не посыпано.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="27 марта. Страшный гололёд после снега с дождём накануне; весь песок с предыдущих фотографий оказался подо льдом, сверху ничего не посыпано." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-27-1.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-27-1.th.jpg" class="img-fluid"></a></p>

<p>27 марта. Страшный гололёд после снега с дождём накануне; весь песок с предыдущих фотографий оказался подо льдом, сверху ничего не посыпано.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="27 марта. Страшный гололёд после снега с дождём накануне; весь песок с предыдущих фотографий оказался подо льдом, сверху ничего не посыпано." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-27-2.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-27-2.th.jpg" class="img-fluid"></a></p>

<h2>Для сравнения двор в Сестрорецке</h2>

<p>Это соседний с Приморским Курортный район Санкт-Петербурга.</p>


<p>12 января. Видно, что машины запаркованы, но весь снег вычищен.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="12 января. Видно, что машины запаркованы, но весь снег вычищен." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/01-12-1-sest.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/01-12-1-sest.th.jpg" class="img-fluid"></a></p>


<p>12 марта. Прошёл трактор, а за ним — трое дворников вычищают снег, где трактор не может убрать.</p>

<p><video
poster="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-12-1-sest.jpg"
data-plyr='{ title: "12 марта. Прошёл трактор, а за ним — трое дворников вычищают снег, где трактор не может убрать." }'
class="plyr-player"
playsinline controls>
<source
src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-12-1-sest-720.m4v"
type="video/mp4" />
</video></p>

<p>12 марта. Двор после работы трактора и дворников.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="12 марта. Двор после работы трактора и дворников." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-12-2-sest.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-12-2-sest.th.jpg" class="img-fluid"></a></p>

<p>12 марта. Двор после работы трактора и дворников.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="12 марта. Двор после работы трактора и дворников." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-12-3-sest.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-12-3-sest.th.jpg" class="img-fluid"></a></p>


<p>30 марта. Смывают песок с тротуаров.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="30 марта. Смывают песок с тротуаров." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-30-1-sest.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/03-30-1-sest.th.jpg" class="img-fluid"></a></p>

<h2>3 апреля</h2>

<div class="paper-sheet">
    <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/ob-959-16412-19-0-1.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/ob-959-16412-19-0-1.jpg" class="img-fluid"></a>
</div>

<p>Пошёл ознакамливаться на сайт госзакупок и обнаружил там интересное.</p>

<p>В контрактах указаны номера кадастровых кварталов. Дом 27 по улице Шаврова находится на территории
    с кадастровым номером <b>78:34:0412301</b>. Его можно найти на карте РГИС: <a href="http://rgis.spb.ru/map/">http://rgis.spb.ru/map/</a>.</p>
    
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="кадастровый квартал 78:34:0412301" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/2019-04-03_1633.png"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/2019-04-03_1633.jpg" class="img-fluid"></a></p>


<p>Вот контракт (36.5 миллионов рублей) на уборку внутриквартальных территорий на 2019 год, заключённый с ЖКС №4:
<a href="http://zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2781400231318000103">2781400231318000103</a>. В разделе Документы размещена отсканированная версия контракта, где в Приложении 2 перечислены
кадастровые номера кварталов. И среди них нет <b>78:34:0412301</b>.</p>


<p>Немного поползав по сайту госзакупок нашёл контракт (35 миллионов рублей) на уборку внутриквартальных территорий на 2019 год, заключённый с <b>ЖКС №3</b>:
<a href="http://zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2781400231318000096">2781400231318000096</a>. А вот тут в разделе Документы, в отсканированной версии контракта, в Приложении 2 среди  перечисленных кадастровых номеров есть <b>78:34:0412301</b>.
<br>То есть, получается, уборкой территории двора Шаврова-27 занимается <b>ЖКС №3</b>, а не ЖКС №4, которую дважды упоминает Администрация Приморского района в своих ответах!</p>

<p>В 2018 году квартал <b>78:34:0412301</b> присутствует в контракте <a href="http://zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2781400231317000106">2781400231317000106</a> (39.5 миллионов рублей), исполнителем по которому является ЖКС №4. Почему-то в 2019 году территорию передали в ЖКС №3, но, похоже, в Администрации не в курсе.</p>


<h2>4 апреля</h2>



<div class="paper-sheet">

<p class="text-right">В Администрацию Президента</p>
<p class="text-right pb-5">4 апреля 2019 года</p>

<p class="text-justify">Добрый день.


<p class="text-justify">5 февраля обращался в Администрацию Приморского района Санкт-Петербурга про отсутствие уборки во дворе (ОБ-959-15304/19-0-0). Среди прочего я интересовался формальной стороной уборки: какая есть отчётность, какие договорные отношения с организацией, осуществляющей уборку. Качество «уборки» проиллюстрировал фотографиями.</p>

<p class="text-justify">26 февраля я получил отписку от Администрации Приморского района (ОБ-959-15304/19-0-1), где мне рассказывают про снегопады и приемлемый уровень уборки, а все вопросы про формальную организацию процесса проигнорированы.</p>

<p class="text-justify">Не получив содержательного ответа, 26 февраля обратился в Администрацию Губернатора Санкт-Петербурга (ОБ-8458-1/19-0-0) с теми же вопросами. Обращение было переадресовано в Администрацию Приморского района, откуда пришёл ещё один несодержательный ответ (ОБ-959-16412/19-0-1).</p>

<p>Тексты всех обращений и ответов во вложении.</p>

<p>В последнем ответе (3 апреля) написано что снега во дворе нет. Это не так. Фотографировал двор в течение всего марта, фото в приложении. На фотографиях видно помимо того, что снег есть даже сегодня, ещё и систематическое отсутствие уборки как таковой - везде песок, грязь.</p>

<p>В ответе Администрации специально или случайно не указан конкретный номер закупки/контракта. Я обнаружил, что контракт <a href="http://zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2781400231318000096">2781400231318000096</a> на уборку внутриквартальных территорий в числе которых есть кадастровый участок 78:34:0412301 (к которому относится двор Шаврова-27) заключён на весь 2019 год не с ЖКС №4, а с ЖКС №3. В этой связи не очень понятны предложения Администрации директору ЖКС №4 об усилении контроля за уборкой. Всё это выглядит как фикция.</p>

<p>В ответе написано, что бюджет позволяет выполнить уборку только на 54%. В актах, приложенных к контракту,  никаких упоминаний о частичной уборке нет.</p>
    
<p>Кроме этого хотел бы отметить, что в некоторых районах Петербурга и с зимней, и с летней уборкой всё очень хорошо. Например в Курортном районе, снег этой зимой вовремя и качественно убирался, в конце марта смывали песок, оставшийся от зимней обработки улиц. Фото во вложении. Тот же город, тот же городской бюджет, но в одном районе убирают хорошо, а в другом — плохо. В этой связи отсылка Администрации Приморского района к недостаточному бюджету выглядит несостоятельной. В Кировском районе Петербурга тоже снег не убирают. Бабушка, родившаяся в Ленинграде в 1930 году, прошлой зимой около подъезда на наледи сломала руку, отчего качество её жизни значительно ухудшилось. Она кроме прочего говорит, что не было в городе такого безобразия с уборкой дворов, как сейчас.</p>

<p>Отсутствие уборки носит системный характер. Я направлял обращение в 2017 году про неубранные двор (ОБ-2256-2062/17-0-0 от 22 ноября 2017), фото во вложении. В тот раз мне из Администрации района ответили, что «всё хорошо» (ОБ-2256-2062/17-0-1 от 14 декабря 2017), хотя по фото видно, что не всё хорошо.</p>

<p>Контракт на 2019 год на уборку уже заключён, понятно что следующей зимой в декабре
    качественно («бюджет позволяет выполнить уборку только на 54%») ничего не поменяется. Хотелось бы
    знать тем не менее, что именно делается в Администрациях района и города чтобы повысить
    качество уборки.</p>

<p>Прошу
<br>(1) Принять меры против некомпетентности и бездействия чиновников в Администрации Приморского Района Санкт-Петербурга и бездействия покрывающих их чиновников в Администрации Губернатора.
<br>(2) Направить в ответном обращении, какие именно меры были приняты, как это улучшило ситуацию в целом.
<br>(3) Организовать систематическую (а не единовременную на момент рассмотрения этого обращения) уборку внутриквартальной территории по адресу Шаврова-27 в Санкт-Петербурге.</p>

<p class="text-justify">Спасибо.</p>

<p class="pt-3">Раскумандрин С.И.</p>

</div>

<p>Нерастаявший ещё и неубранный снег во дворе.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="Нерастаявший ещё и неубранный снег во дворе." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2644.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2644.th.jpg" class="img-fluid"></a></p>

<p>Грязь с песком, оставшиеся ещё с осени.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="Грязь с песком, оставшиеся ещё с осени" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2649.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2649.th.jpg" class="img-fluid"></a></p>

<p>Огромное количество песка на асфальтированной дорожке между 27 домом по ул. Шаврова и школой 595.</p>
<p class="text-center"><a class="fresco" data-fresco-group="unique_name" data-fresco-caption="Огромное количество песка на асфальтированной дорожке между 27 домом по ул. Шаврова и школой 595." href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2650.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2650.th.jpg" class="img-fluid"></a></p>


<p>Ваше письмо отправлено 04.04.2019 за номером ID=6510610 и подлежит обязательной регистрации в течение трех дней с момента поступления в Администрацию Президента Российской Федерации</p>

<p>Дата регистрации обращения: 5 апреля 2019 года, регистрационный номер: 384320.</p>

<h2>8 апреля</h2>

<div class="paper-sheet">
    <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/ap.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/ap.jpg" class="img-fluid"></a>
</div>

<h2>«Наш Санкт-Петербург»</h2>

<p><a href="https://gorod.gov.spb.ru/facilities/92826/problems/">Ул. Шаврова, дом 27</a> и <a href="https://gorod.gov.spb.ru/facilities/35337/problems/">ул. Шаврова, дом 27, литера А</a> — два адреса дома на этом портале, и в каждом много сообщений об отсутсвии уборки. Про этот сайт рассказали соседи.</p>

<p class="weight100 quote">
Действительно, во дворе уже второй год нет систематической уборки. Происходит генеральная после жалобы на портал Наш Петербург. Приезжает сразу человек 5-10 и вычищают. Но до этого момента мусор может горами валяться не одну неделю. Сами раза четыре обращались.
</p>

<p><div class="card-deck">
  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/1796331/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/1796331.jpg" class="card-img-top" alt="Мусор на внутридворовой территории"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">15 апреля 2019</small></p>
      <p class="card-text">Мусор на внутридворовой территории</p>
    </div>
  </div>

  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/1793282/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/interior.png" class="card-img-top"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">12 апреля 2019</small></p>
      <p class="card-text">Мусор на проезжей части, тротуаре, благоустроенных спусках к воде, подземных и надземных пешеходных переходах</p>
    </div>
  </div>

</div></p>

<p><div class="card-deck">

  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/1777270/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/1777270.jpg" class="card-img-top" alt="Уборка мусора внутри двора не производится"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">31 марта 2019</small></p>
      <p class="card-text">Уборка мусора внутри двора не производится</p>
    </div>
  </div>

  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/1720788/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/1720788.jpg" class="card-img-top" alt="Мусор на внутридворовой территории"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">5 марта 2019</small></p>
      <p class="card-text">Неубранный снег, требуется обработка территории пескосоляной смесью</p>
    </div>
  </div>

</div></p>

<p><div class="card-deck">
  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/1410427/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/1410427.jpg" class="card-img-top" alt="Мусор и опавшие листья лежат неубранными вторую неделю"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">5 ноября 2018</small></p>
      <p class="card-text">Мусор и опавшие листья лежат неубранными вторую неделю</p>
    </div>
  </div>

  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/1231834/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/1231834.jpg" class="card-img-top" alt="Дворовая территория не убирается уже несколько месяцев! Постоянно мусор! На газонах, бордюрах, лавочках, детской площадке!"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">26 августа 2018</small></p>
      <p class="card-text">Дворовая территория не убирается уже несколько месяцев! Постоянно мусор! На газонах, бордюрах, лавочках, детской площадке!</p>
    </div>
  </div>
</div></p>

<p><div class="card-deck">
  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/1231828/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/1231828.jpg" class="card-img-top"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">26 августа 2018</small></p>
      <p class="card-text">Площадка для мусора, где стоят большие мусорные контейнеры в неудовлетворительном состоянии! Запах, грязь, мусор, сломан ящик для песка. Внутри и за ее пределами постоянно разбросан мусор.</p>
    </div>
  </div>

  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/1135040/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/1135040.jpg" class="card-img-top" alt="Мусор на газонах"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">15 августа 2018</small></p>
      <p class="card-text">Мусор на газонах</p>
    </div>
  </div>
</div></p>

<p><div class="card-deck">
  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/1106770/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/1106770.jpg" class="card-img-top"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">4 июля 2018</small></p>
      <p class="card-text">Мусор на газонах и тротуаре</p>
    </div>
  </div>

  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/949907/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/949907.jpg" class="card-img-top" alt="Мусор на внутридворовой территории"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">8 мая 2018</small></p>
      <p class="card-text">Мусор на газонах</p>
    </div>
  </div>
</div></p>


<p><div class="card-deck">
  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/911594/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/911594.jpg" class="card-img-top"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">23 апреля 2018</small></p>
      <p class="card-text">Мусор на детской площадке</p>
    </div>
  </div>

  <div class="card">
    <a href="https://gorod.gov.spb.ru/problems/867934/" class="card-link stretched-link"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/867934.jpg" class="card-img-top" alt="Мусор на внутридворовой территории"></a>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">11 апреля 2018</small></p>
      <p class="card-text">Неудовлетворительное состояние асфальтового покрытия на придомовой и дворовой территориях</p>
    </div>
  </div>
</div></p>

<p>... и ещё несколько со статусом «Информация по данному сообщению доступна только в личном кабинете Пользователя, создавшего данное сообщение».
</p>

<h2>12 апреля</h2>

<p>
Вам направили следующий документ (см. вложение): № ОБ-8458-2/19-0-2 от 12.04.2019
<br>Отправитель: Управление по работе с обращениями граждан Администрации Губернатора СПб
</p>

<div class="paper-sheet">
    <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/ced.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/ced.jpg" class="img-fluid"></a>
</div>

<h2>13 апреля</h2>
<p>Набежало куча народу — чистят двор.</p>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name13" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2773.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2773.th.jpg" class="img-fluid"></a></p>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name13" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2775.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2775.th.jpg" class="img-fluid"></a></p>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name13" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2777.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2777.th.jpg" class="img-fluid"></a></p>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name13" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2778.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2778.th.jpg" class="img-fluid"></a></p>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name13" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2780.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2780.th.jpg" class="img-fluid"></a></p>

<h2>14 апреля</h2>



<div class="paper-sheet">

<p class="text-right">В муниципальное образование Юнтолово</p>
<p class="text-right pb-5">14 апреля 2019 года</p>

<p class="text-justify">Добрый день.</p>

<p class="text-justify">На сайте указаны только <a href="http://www.untolovo.org/munitsipalniy-sovet/chasi-priyoma/">часы приёма главы муниципального совета</a>.</p>

<p class="text-justify">Где можно увидеть часы приёма других депутатов?</p>

<p class="text-justify"><b>К кому бы вы могли посоветовать обратиться для помощи вместе составить и направить депутатский запрос про качество уборки (не зимней, а вообще круглогодичной) внутридворовой территории по адресу Шаврова-27 в адрес губернатора?</b></p>

<p class="text-justify">Может, кто-то из депутатов имеет соответствующий опыт? Знает лучше других предметную область? Имеет просто большую заинтересованность помочь?</p>

<p class="text-justify">История вопроса <a href="https://raskumandrin.github.io/winter-courtyard-cleaning">описана тут</a>.</p>

<p class="text-justify">В самом низу там видно много ссылок на <a href="http://gorod.gov.spb.ru">gorod.gov.spb.ru</a>, то есть это не лично моя инициатива, а вопрос волнует многих жителей нашего дома.</p>

<p class="text-justify">Спасибо.</p>
<br><br><br><br>

</div>

<p>Ваше обращение зарегистрировано под № 01-09/28 от 17.04.2019 г.</p>

<h2>18 апреля</h2>

<p>Больше после 13-го апреля никто во дворе ничего не убирал. Мешки с песком как собрали в субботу — так они всю неделю и стоят по двору.</p>


<h2>22 апреля</h2>

<p>Убранный неделю назад двор потхоньку начинает замузориваться. Никто, конечно, на постоянной основе не убирает ничего.</p>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name14" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2873.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2873.th.jpg" class="img-fluid"></a></p>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name14" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2875.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2875.th.jpg" class="img-fluid"></a></p>

<h2>24 апреля</h2>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name14" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2904.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2904.th.jpg" class="img-fluid"></a></p>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name14" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2905.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2905.th.jpg" class="img-fluid"></a></p>

<h2>25 апреля</h2>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name14" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2912.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2912.th.jpg" class="img-fluid"></a></p>

<h2>26 апреля</h2>

<p>По обращению в МО Юнтолово меня пригласили на беседу. Пришёл к заместителю главы муниципального образования
депутату Матушкину Алексею Владимировичу. С собой принёс черновик письма в адрес губернатора.</p>


<div class="paper-sheet">

<p class="text-justify"><b>Исходные данные</b></p>
<p class="text-justify">(1) Администрация Приморского района ежегодно заключает контакты на уборку внтуридворовых
территорий. Для Шаврова-27 в прошлом году с ЖКС-4 (
http://zakupki.gov.ru/epz/contract/contractCard/common-
info.html?reestrNumber=2781400231317000106 ), в этом – 2019-м году – с ЖКС-3 (
http://zakupki.gov.ru/epz/contract/contractCard/common-
info.html?reestrNumber=2781400231318000096 ). Отдельный вопрос, почему контакт с ЖКС-3, а
уборку выполняет ЖКС-4, но сейчас не на этом фокус.</p>
<p class="text-justify">Каждый месяц ЖКС передаёт в Администрацию акт о выполненных работах, а Администрация
подписывает его. После чего Администрация перечисляет деньги. Это всё прослеживается на
сайте гос-закупок.</p>
<p class="text-justify">(2) На портале «Наш Санкт-Петербург» ( https://gorod.gov.spb.ru/ ) есть более десятка обращений
про уборку двора вокруг дома по адресу Шаврова-27 за весь последний год, и про «снежную»
зиму их меньшинство. Вероятно, обращений ещё больше, но не модерированные сложно искать.</p>
<table class="table table-bordered table-sm" style="font-size: 7pt;">
    <thead><tr>
<th scope="col">Дата</th><th scope="col">Номер</th><th scope="col">Ссылка</th><th scope="col">Текст</th><th scope="col">Сотрудник
Администрации</th>
</tr>
  </thead>
<tbody>
    <tr>
<td>11 апреля 2018</td>
<td>867934</td>
<td>https://gorod.gov.spb.ru/problems/867934/</td>
<td>Неудовлетворительное состояние
асфальтового покрытия на
придомовой и дворовой
территориях</td>

<td>Хобец А.С.</td>
</tr><tr><td>
23 апреля 2018</td><td>911594</td><td>https://gorod.gov.spb.ru/problems/911594/</td><td>Мусор на детской площадке
</td>
<td>Хаткевич Е.В.</td>
</tr><tr><td>


8 мая 2018</td><td>949907</td><td>https://gorod.gov.spb.ru/problems/949907/</td><td>Мусор на газонах
</td>
<td>Хаткевич Е.В.</td>
</tr><tr><td>


4 июля 2018</td><td>1106770</td><td>https://gorod.gov.spb.ru/problems/1106770/</td><td>Мусор на газонах и тротуаре
</td>
<td>Хаткевич Е.В.</td>
</tr><tr><td>


15 августа 2018</td><td>1135040</td><td>https://gorod.gov.spb.ru/problems/1135040/</td><td>Мусор на газонах
</td>
<td>Акацевич О.О.</td>
</tr><tr><td>



26 августа 2018</td><td>1231828</td><td>https://gorod.gov.spb.ru/problems/1231828/</td><td>Площадка для мусора, где стоят
большие мусорные контейнеры в
неудовлетворительном состоянии!
Запах, грязь, мусор, сломан ящик
для песка. Внутри и за ее
пределами постоянно разбросан
мусор.

</td>
<td>Хаткевич Е.В.</td>
</tr><tr><td>


26 августа 2018</td><td>1231834</td><td>https://gorod.gov.spb.ru/problems/1231834/</td><td>Дворовая территория не убирается
уже несколько месяцев! Постоянно
мусор! На газонах, бордюрах,
лавочках, детской площадке!

</td>
<td>Хаткевич Е.В.</td>
</tr><tr><td>


5 ноября 2018</td><td>1410427</td><td>https://gorod.gov.spb.ru/problems/1410427/</td><td>Мусор и опавшие листья лежат
неубранными вторую неделю

</td>
<td>Хаткевич Е.В.</td>
</tr><tr><td>


5 марта 2019</td><td>1720788</td><td>https://gorod.gov.spb.ru/problems/1720788/</td><td>Неубранный снег, требуется
обработка территории
пескосоляной смесью

</td>
<td>Хаткевич Е.В.</td>
</tr><tr><td>


31 марта 2019</td><td>1777270</td><td>https://gorod.gov.spb.ru/problems/1777270/</td><td>Уборка мусора внутри двора не производится </td>
<td>Хаткевич Е.В.</td>
</tr><tr><td>



12 апреля 2019</td><td>1793282</td><td>https://gorod.gov.spb.ru/problems/1793282/</td><td>Мусор на проезжей части,
тротуаре, благоустроенных спусках
к воде, подземных и надземных
пешеходных перехода</td><td></td>
</tr><tr>
    <td>
15 апреля 2019</td><td>1796331</td><td>https://gorod.gov.spb.ru/problems/1796331/</td><td>Мусор на внутридворовой

территории

</td>
<td>Хаткевич Е.В.</td>
</tr>

<tbody></table>
<p class="text-justify"><b>Проблема и вопрос</b></p>
<p class="text-justify">По этим обращениям видно, что уборка систематически не производится. На письменние вопросы
к Администрации в ответ приходят несодержательные отписки.</p>
<p class="text-justify">Портал «Наш Санкт-Петербург» ( https://gorod.gov.spb.ru/ ) представляет собой прекрасный
инструмент обратной связи для оценки эффективности работы чиновников. Но либо эта работа не
ведётся, либо ведётся, но нет результата.</p>
<p class="text-justify">Что именно предпринимает губернатор, чтобы изменить ситуацию с неэффективной работой
сотрудников Администрации Приморского района, не способных организовать уборку
внутридворовых территорий?</p>

</div>

<p>Алексей рассказал, что подобное письмо губернатору не имеет смысла писать — придёт в ответ отписка.
    Обещал поговорить с Хаткевичем на предмет того, что можно сделать. Рассказал кроме прочего, что ЖКС
    организационно зависят от Администрации Приморского района.</p>

<h2>28 апреля</h2>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name14" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2960.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_2960.th.jpg" class="img-fluid"></a></p>

<h2>6 мая</h2>

<p>
Вам направили следующий документ (см. вложение): № ОБ-959-17864/19-0-1 от 06.05.2019
<br>Отправитель: Администрация Приморского района СПб

</p>

<div class="paper-sheet">
    <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/resp-6-may.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/resp-6-may.jpg" class="img-fluid"></a>
</div>

<h2>13 мая</h2>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name15" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_3253.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_3253.th.jpg" class="img-fluid"></a></p>

<h2>15 мая</h2>

<p class="text-center"><a class="fresco" data-fresco-group="unique_name16" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_3267.lg.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_3267.th.jpg" class="img-fluid"></a></p>



<div class="paper-sheet">

<p class="text-right">В Администрацию Президента</p>
<p class="text-right pb-5">15 мая 2019 года</p>

<p class="text-justify">Добрый день.


<p class="text-justify">Неоднократно обращался по поводу некачественной уборки
    внутридворовой территории по адресу Шаврова-27, которую организует
    Администрация приморского района.
    Все обращения перенаправлялись в итоге в Администрацию Приморского района и содержательно ответы оттуда
    были в стиле «всё хорошо, делали что могли, много снега».
<br>Вот список моих только обращений:
<br>• в Администрацию Приморского района ОБ-2256-2062/17-0-0 от 22 ноября 2017 → ОБ-2256-2062/17-0-1 от 14 декабря 2017;
<br>• в Администрацию Приморского района ОБ-959-15304/19-0-0 → ОБ-959-15304/19-0-1;
<br>• в Администрацию Губернатора Санкт-Петербурга ОБ-8458-1/19-0-0 → ОБ-959-16412/19-0-1;
<br>• в Администрацию Президента 384320 от 5 апреля 2019 года → ОБ-959-17864/19-0-1 от 06.05.2019.
</p>

<p class="text-justify">Последнее обращение было с просьбой принять меры против бездействия чиновников Администрации Приморского района. И оно было переадресовано для принятия мер и ответа как раз в Администрацию Приморского района. Как же там могут принять какие-то меры против самих себя?!</p>

<p class="text-justify">Проблема уборки носит системный характер. На уровне администрации района её точно невозможно решить. Почему Администрация Губернатора бездействует — абсолютная загадка. Соседи рассказали о своих обращениях через сайт https://gorod.gov.spb.ru/, моих заявок среди нижеперечисленных нет.</p>
<p class="text-justify">
11 апреля 2018: https://gorod.gov.spb.ru/problems/867934/ «Неудовлетворительное состояние асфальтового покрытия на придомовой и дворовой территориях»
<br>23 апреля 2018: https://gorod.gov.spb.ru/problems/911594/ «Мусор на детской площадке»
<br>8 мая 2018: https://gorod.gov.spb.ru/problems/949907/ «Мусор на газонах»
<br>4 июля 2018: https://gorod.gov.spb.ru/problems/1106770/ «Мусор на газонах и тротуаре»
<br>15 августа 2018: https://gorod.gov.spb.ru/problems/1135040/ «Мусор на газонах»
<br>26 августа 2018: https://gorod.gov.spb.ru/problems/1231828/ «Площадка для мусора, где стоят большие мусорные контейнеры в неудовлетворительном состоянии! Запах, грязь, мусор, сломан ящик для песка. Внутри и за ее пределами постоянно разбросан мусор»
<br>26 августа 2018: https://gorod.gov.spb.ru/problems/1231834/ «Дворовая территория не убирается уже несколько месяцев! Постоянно мусор! На газонах, бордюрах, лавочках, детской площадке!»
<br>5 ноября 2018: https://gorod.gov.spb.ru/problems/1410427/ «Мусор и опавшие листья лежат неубранными вторую неделю»
<br>5 марта 2019: https://gorod.gov.spb.ru/problems/1720788/ «Неубранный снег, требуется обработка территории пескосоляной смесью»
<br>31 марта 2019: https://gorod.gov.spb.ru/problems/1777270/ «Уборка мусора внутри двора не производится»
<br>12 апреля 2019: https://gorod.gov.spb.ru/problems/1793282/ «Мусор на проезжей части, тротуаре, благоустроенных спусках к воде, подземных и надземных пешеходных перехода»
<br>15 апреля 2019: https://gorod.gov.spb.ru/problems/1796331/ «Мусор на внутридворовой территории»
</p>

<p class="text-justify">Это писали и фотографировали разные люди одного только дома (!) в течение последнего года. Двенадцать обращений! И из них про снег только одно. Администрация района это игнорирует и перезаключает контакт на 2019 год с той же организацией, на работу которой столько жалоб за 2018 год! Боюсь даже представить, сколько жалоб было со всех адресов территории по контракту уборки
    http://zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2781400231318000096
Если бы регламент уборки соблюдался, этого вороха заявок быть не могло бы.</p>

<p class="text-justify">
Плюс ко всему позиция замалчивания проблем и отсутствия готовности к диалогу администрации района выглядит крайне неконструктивной. Вместо того, чтобы признать проблемы, разъяснить, что именно делается для улучшения, как эти этапы работы над улучшениями можно контролировать со стороны жителей, как можно жителям более оперативно информировать администрацию о проблемах, Администрация раз за разом копирует ответы «всё хорошо, делали что могли, много снега». И понятно, если б везде в городе не убирали. Но в Курортном районе уборка произодится отлично, а рядом — в Приморском — отвратительно.
</p>
<p class="text-justify">
Портал «Наш Санкт-Петербург» ( https://gorod.gov.spb.ru/ ) представляет собой прекрасный инструмент обратной связи для оценки эффективности работы чиновников. Но либо эта работа не ведётся, либо ведётся, но нет результата.</p>
<p class="text-justify">
Что именно предпринимает Администрация губернатора, чтобы изменить ситуацию с неэффективной работой сотрудников Администрации Приморского района, не способных организовать уборку внутридворовых территорий? Контролируется ли эта работа из Администрации Президента?
</p>

<p class="text-justify">
    Повторно прошу принять меры против бездействия сотрудников Администрации Приморского района в разрезе организации уборки внутриквартальной территории по адресу Шаврова-27 (квартал 78:34:0412301) и разъяснить в ответном обращении, что именно было сделано, и как это повлияло на ситуацию с уборкой в целом.

<p class="text-justify">На приложенных фотографиях — как выглядит двор 13 и 15 мая — после зимы двор единственный раз (!) убрали 13 апреля (после обращения в Администрацию Президента), систематическую уборку так и не наладили.<p>

<p class="text-justify">Спасибо.</p>

<p class="pt-3">Раскумандрин С.И.</p>

</div>

<p>
    Ваше письмо отправлено 15.05.2019 за номером ID=6567814 и подлежит обязательной регистрации в течение трех дней с момента поступления в Администрацию Президента Российской Федерации</p>
    

    <h2>15 мая</h2>


    <p>Из муниципалитета новости:</p>
    <p>
        <img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_3268-2.jpg" class="img-fluid">
    </p>
    
    <h2>17 мая</h2>



    <div class="paper-sheet">
        <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/may-mokow.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/may-mokow.jpg" class="img-fluid"></a>
    </div>
    
    
    <h2>24 мая</h2>


    <p>Из муниципалитета новости:</p>
    <p>
        <img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/IMG_3384.jpg" class="img-fluid">
    </p>
    
    
    <h2>13 июня</h2>

    <p>Вам направили следующий документ (см. вложение): № ОБ-8458-3/19-0-2 от 13.06.2019
<br>Отправитель: Управление по работе с обращениями граждан Администрации Губернатора СПб</p>

<p>Четыре листа совершенно бессодержательного текста!</p>

    <div class="paper-sheet">
        <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/20190613-023-1.th.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/20190613-023-1.th.jpg" class="img-fluid"></a>
    </div>

    <div class="paper-sheet">
        <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/20190613-023-2.th.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/20190613-023-2.th.jpg" class="img-fluid"></a>
    </div>

    <div class="paper-sheet">
        <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/20190613-023-3.th.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/20190613-023-3.th.jpg" class="img-fluid"></a>
    </div>

    <div class="paper-sheet">
        <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/20190613-023-4.th.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2019-02-20-winter-courtyard-cleaning/20190613-023-4.th.jpg" class="img-fluid"></a>
    </div>


<h2>16 июля 2019 года</h2>
<p>В целом, после второго обращения в администрацию проезидента ситуация с уборкой наладилась.
    Двор убирают каждый день, мусора теперь не видно. В течение последнего месяца так.</p>
    
    <p>Пока план - как только мусор будет появляться, и будет какое-то время лежать неубранным —
        направлять обращение через <a href="https://gorod.gov.spb.ru/">https://gorod.gov.spb.ru/</a>.
Таким образом накапливая там базу для последующего требования от муниципалитета выполнить-таки 
представительную функцию и написать губернутору.</p>
<br>Вот моё обращение от 26 июня, например: <a href="https://gorod.gov.spb.ru/problems/1990453/">https://gorod.gov.spb.ru/problems/1990453/</a></p>


<h2>13 октября 2019 года</h2>
<p><a href="https://gorod.gov.spb.ru/problems/2228017/">https://gorod.gov.spb.ru/problems/2228017/</a></p>
<h2>22 октября 2019 года</h2>
<p><a href="https://gorod.gov.spb.ru/problems/2248431/">https://gorod.gov.spb.ru/problems/2248431/</a></p>


<h2>19 января 2021 года</h2>
<p>Чтобы потом снова не искать, вот контракты на уборку за 2020 год: <a href="https://zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2781400231320000035">2781400231320000035</a> и за 2021 год: <a href="https://zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2781402705020000229">2781402705020000229</a>.</p>

{% include telegram-shavrova.html %}
