---
url: syringe
title: Шприц в подъезде
excerpt: |
    <p><a href="/syringe"><img class="img-fluid" src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2020-05-31-syringe/tiser.jpg" alt="Шприц в подъезде"></a></p>
    
og_title: Шприц в подъезде
og_image: https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2020-05-31-syringe/og.jpg
og_description: |
    
categories: official
tags: [mvd]
js: [fresco]

---

{% include telegram-shavrova.html %}


<div class="paper-sheet">

<p class="text-right">Участковому уполномоченному полиции
<br>младшему лейтенанту полиции
<br>Калентьевой Виктории Игоревне</p>

<p class="text-right pb-5">31 мая 2020</p>

<p class="text-justify">Уважаемая Виктория Игоревна!

<p class="text-justify">В пятницу днём 29 мая обнаружил на площадке своего этажа (в закутке где мусоропровод) использованный шприц и салфетку в крови. Фото в приложенном файле.
<br>Адрес: улица Шаврова, дом 27, четвёртый подъезд, площадка между восьмым и девятым этажом.</p>

<p class="text-justify">Сейчас воскресенье, 31 мая, шприц всё так же лежит.</p>

<p class="text-justify">Считаю, что данная ситуация имеет признаки нарушения как минимум санитарных норм и ставит под угрозу здоровье жильцов.</p>

<p class="text-justify">Прошу:
<br>1. Провести проверку
<br>2. Истребовать записи с камеры подъезда за неделю с 25 мая (когда по регламету должна была быть проведена уборка подъезда) по 29 мая (когда обнаружил шприц)
<br>3. Приобщить эти записи к материалам проверки.
<br>4. Разъяснить жителям подъезда важность бдительности и недопуска в подъезд незнакомых людей.</p>

<p class="text-justify">В ответном сообщении прошу указать номер КУСП; разъяснить, что именно было сделано по моему обращению, а также как ещё можно обеспечить, чтобы ситуация с использованным шприцем не повторилась вновь.</p>

<p class="pt-3">Спасибо.</p>

<p class="pt-3">Раскумандрин С.И.
</p>

</div>


    <p>
        <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2020-05-31-syringe/syringe.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2020-05-31-syringe/syringe.jpg" class="img-fluid"></a>
    </p>


<p>Спасибо! Ваше обращение от 31.05.2020 отправлено в "Управление Министерства Внутренних дел России по Приморскому району Санкт-Петербурга"
<br>ID обращения: S79MVD1782159
</p>


<p>Объявление для информационной доски в подъезде:</p>

    <div class="paper-sheet">
        <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2020-05-31-syringe/doc.th.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2020-05-31-syringe/doc.th.jpg" class="img-fluid"></a>
    </div>


<h2>6 июля</h2>
<div class="paper-sheet">

<p class="text-right">в прокуратуру Санкт-Петербурга
<p class="text-right pb-5">6 июля 2020</p>
<br><br>
<p class="text-justify">Добрый день.
<br><br>
<p class="text-justify">31 мая 2020 года я напралял обращение в МВД по поводу использованного шприца на лестничной площадке. 
Зарегистрировано 01.06.2020 г. № 3/207804199743 в УМВД России по Приморскому району г. СПб.</p>

<p class="text-justify">До сегодняшнего дня не получил никакого ответа.</p>

<p class="text-justify">Прошу провести проверку на предмет наличия нарушения законодательства о порядке рассмотрения граждан. 
И в случае наличия таких нарушений применить меры прокурорского реагирования.</p>
<br><br><br><br>
<p class="pt-3">Спасибо.</p>
<br><br><br><br>
<p class="pt-3">Раскумандрин С.И.
<br><br><br><br></p>

</div>

<p>Благодарим Вас за обращение к нам. Номер вашего обращения: 262950</p>

<h2>14 июля</h2>

    <div class="paper-sheet">
        <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2020-05-31-syringe/obhod.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2020-05-31-syringe/obhod.jpg" class="img-fluid"></a>
    </div>


<p>Реакция соседей на эту отписку в чатике:</p>

<p class="text-center"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2020-05-31-syringe/teleg.png" class="img-fluid img-thumbnail"></p>

<p>По поводу цитаты «Каких-либо правонарушений не выявлено» нужно отметить то, что примерно в это же время у соседей украли велосипед, пристёгнутый на лестнице. Заявление об этом они подали в полицию до того, как господин Канчиев написал этот ответ.</p>

<h2>17 июля</h2>

    <div class="paper-sheet">
        <a class="fresco" href="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2020-05-31-syringe/20200717_100213.jpg"><img src="https://pub-3e57dc6805fe47c580cebfca6d4f2436.r2.dev/2020-05-31-syringe/20200717_100213.jpg" class="img-fluid"></a>
    </div>


{% include telegram-shavrova.html %}
