---
layout: default
---

<h1 class="display-4 py-4">{{ page.head }}</h1>

{% assign counter = 0 %}

{% for post in site.posts %}

{% if page.category and post.categories contains page.category %}
      {% assign test = true %}
{% endif %}

{% if page.country and post.countries contains page.country %}
      {% assign test = true %}
{% endif %}

{% if page.tag and post.tags contains page.tag %}
      {% assign test = true %}
{% endif %}

{% if page.lang != post.lang %}
      {% assign test = false %}
{% endif %}

{% if test %}

<div class="poster">
{% include post-nav.html p=post %}

<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

{% include post-nav-date-tag.html p=post %}

<p>{{ post.excerpt }}</p>
</div>

{% assign counter = counter | plus: 1 %}
{% assign test = false %}

{% endif %}
{% endfor %}


{% if counter==0 %}
    {% if page.lang == "en" %}
        <p>There are no records yet here.</p>
    {% else %}
        <p>Пока нет записей.</p>
    {% endif %}
{% endif %}
