<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% if page.js contains "fresco" %}
<link href="/fresco-2.3.0/css/fresco.css" rel="stylesheet">
{% endif %}
{% if page.js contains "plyr" %}
<link href="/plyr-3.5.6/plyr.css" rel="stylesheet">
{% endif %}
{% if page.js contains "highlight" %}
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/solarized-light.min.css">
{% endif %}

<link rel="stylesheet" href="/main.css">
<link rel="icon" type="image/png" href="/apple-touch-icon-16x16.png" />
<link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" />

{% if page.head %}
    {% if page.lang == "ru" %}
<title>{{ page.head }} • Раскумандрин</title>
    {% else %}
<title>{{ page.head }} • Raskumandrin</title>
    {% endif %}
{% else %}
<title>{{ page.title }}</title>
{% endif %}


{% if page.og_description %}
<meta name="description" content="{{ page.og_description }}" />
{% endif %}
{% if page.og_image %}
<link rel="image_src" href="{{ page.og_image }}" />
{% endif %}

{% if page.og_title %}
<meta property="og:title" content="{{ page.og_title }}">
{% else %}
<meta property="og:title" content="{{ page.title }}">
{% endif %}
<meta property="og:type" content="article">
{% if page.og_image %}
<meta property="og:image" content="{{ page.og_image }}">
{% endif %}
{% if page.og_description %}
<meta property="og:description" content="{{ page.og_description }}">
{% endif %}

<meta name="twitter:card" content="summary">
{% if page.og_title %}
<meta name="twitter:title" content="{{ page.og_title }}">
{% else %}
<meta property="og:title" content="{{ page.title }}">
{% endif %}
{% if page.og_description %}
<meta name="twitter:description" content="{{ page.og_description }}">
{% endif %}
{% if page.og_image %}
<meta name="twitter:image" content="{{ page.og_image }}">
{% endif %}

<meta name="author" content="Stas Raskumandrin">
<meta name="copyright" content="Stas Raskumandrin">

</head>
<body>
{% include metrika.html %}
{% include navigation.html %}
<div class="container-wrapper"><div class="container">
{{ content }}
</div></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% if page.js contains "instagram" %}
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
{% endif %}
{% if page.js contains "fresco" %}
<script src="/fresco-2.3.0/js/fresco.min.js"></script>
{% endif %}
{% if page.js contains "plyr" %}
<script src="/plyr-3.5.6/plyr.polyfilled.min.js"></script>
<script>const players = Plyr.setup('.plyr-player');</script>
{% endif %}
{% if page.js contains "highlight" %}
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
<script type="text/javascript">
  hljs.configure({tabReplace: '    '}); // 4 spaces
  hljs.initHighlightingOnLoad();
</script>
{% endif %}

{% if page.url contains "patagonia-summits" %}
<script>
$(document).ready(function() {
$('p.spoiler span').click(function(){
    $(this).parent().next().slideDown();
    $(this).parent().hide();
});

$('p.iframe-spoiler span').click(function(){
    $(this).parent().next().show();
    $(this).parent().next().find("iframe").prop("src", function(){
        return $(this).data("src");
    });
    $(this).parent().hide();
});
});
</script>
{% endif %}

</body>
</html>